<head>
  <title>Sam and Charles Are Getting Married</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    .step {
      position: absolute;
      transition: all 0.3s ease;
      transform: translateY(20px);
      opacity: 0;
      z-index: 0;
      top: 0;
    }
  </style>
</head>