<head>
  <meta charset="utf-8">
  <title>Sam and Charles Are Getting Married</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i|Quintessential" rel="stylesheet">
  <style>
    .step {
      position: absolute;
      transition: all 0.3s ease;
      transform: translateY(20px);
      opacity: 0;
      z-index: 0;
      top: 0;
    }
  </style>
</head>