<nav>
  <ul class="main-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/rsvp">RSVP</a></li>
    <!-- <li><a href="/details">Details</a></li> -->
    <li><a href="/music">Request music</a></li>
    <!-- <li><a href="/photos">Photos</a></li> -->
  </ul>
</nav>