<!DOCTYPE html>
<html>
  <%- include partials/_head %>
  <%- include partials/_flash %>
  <body>
    <div class="body-wrapper home">
      <header>
        <%- include partials/_nav %>
      </header>
      <div class="inner">
        <div class="text-wrapper">
          <h1>Sam and Charles are getting married</h1>
          <h3>Saturday, 23<sup>rd</sup> February, 2019 at 11 o'clock in the morning</h3>
          <p style="max-width:600px;">We're getting married and we'd really like you to be there. The church is old and the reception is being held in a castle (an even older one). If you can make it, let us know by RSVP-ing below; and if you can't make it, fill out the RSVP and let us know anyway. We'd love to hear from you.</p>
          <a class="button" href="/rsvp">RSVP</a>
        </div>
        <img src="/images/flowers-bottomleft.png" class="flip-vertical flower top-left" alt="flowers" />
        <img src="/images/flowers-topright.png" class="flip-vertical flower bottom-right" alt="flowers" />
      </div>  
    </div>
  </body>
</html>