<!DOCTYPE html>
<html>
  <%- include partials/_head %>
  <%- include partials/_flash %>
  <body>
    <div class="body-wrapper invitation">
      <header>
        <%- include partials/_nav %>
      </header>
      <div class="inner">

    		<form action="/respond" method="POST">

          <div class="step step-1 active">
            <h1>RSVP time</h1>

            <p>We're getting married on 23 February, and we really want you to be there! But first, we need to collect a little bit of information from you to help us get everything worked out. Stuff like dietary preferences and transport (since at least a few of you don't live in the UK).</p>

            <p>This shouldn't take more than a few minutes, so let's get started!</p>

            <a class="next-step button" data-step="1">Let's get started</a>
          </div>

    			<div class="step step-2">
            <div class="step__inner">
      				<h2>Who are you?</h2>
      				<p>We're sending this e-invite out to all of our friends and family, so we need to know who you are. If you're bringing a partner, please add their name as well, just to help us keep our records straight.</p>

      				<div class="form-field">
      					<label for="respondant">Your name</label>
      					<input type="text" autocomplete="off" class="required" name="respondant">
      				</div>

              <div class="form-field">
                <label for="email">Your email address</label>
                <input type="text" autocomplete="off" class="required" name="email">
              </div>

      				<div class="partner-fields">
      					<div class="form-field">
      						<input type="checkbox" name="havePartner" class="dependent" id="havePartner" value="true">
      						<label for="havePartner">Coming with a partner?</label>
      					</div>

      					<div class="form-field partner-name">
      						<label for="partnerName">Your partner's name</label>
      						<input type="text" autocomplete="off" name="partnerName">
      					</div>
      				</div>

              <a class="next-step button" data-step="2">Next Step</a>
              <a class="prev-step button">Back</a>
              <a class="to-review button">Review</a>
              <p class="error">Hold up, we need to know who you are first!</p>
            </div>
    			</div>

    			<div class="step step-3">
            <div class="step__inner">
      				<h2>Are you able to attend?</h2>
      				<p><strong>The wedding is Saturday, 23rd February, 2019, in the North East of England.</strong> Whether it's right around the corner or halfway across the world, we can't wait to have you.</p>

      				<div class="form-field">
      					<input type="radio" name="attending" class="required" id="attending-true" value="true">
      					<label for="attending-true">Yes, I'll be there</label>
                <br>
      					<input type="radio" name="attending" class="required" id="attending-false" value="false">
      					<label for="attending-false">Sorry, I can't make it</label>
      				</div>

              <a class="next-step button" data-step="3">Next Step</a>
              <a class="prev-step button">Back</a>
              <a class="to-review button">Review</a>
              <p class="error">You need to tell us if you can attend or not.</p>
      			</div>
          </div>

    			<div class="step step-4">
            <div class="step__inner">
      				<h2>Do you need transportation from the wedding to the reception?</h2>
      				<p>We're having the wedding itself at a St. Luke's Church in Hartlepool, but the reception will be at Langley Castle, near Hexham. The drive takes about 1 hour.</p>

      				<p><strong>Do you need us to arrange you transportation from the wedding to the reception?</strong></p>

      				<div class="form-field">
      					<input type="radio" name="needsTransportation" class="required" id="transportation-true" value="true">
      					<label for="transportation-true">Yes, I need transportation</label>
                <br>
      					
      					<input type="radio" name="needsTransportation" class="required" id="transportation-false" value="false">
      					<label for="transportation-false">No, I'll make my own way</label>
      				</div>

              <a class="next-step button" data-step="4">Next Step</a>
              <a class="prev-step button">Back</a>
              <a class="to-review button">Review</a>
              <p class="error">Wait, do you need transportation or not?</p>
      			</div>
          </div>

    			<div class="step step-5">
            <div class="step__inner">
      				<h2>Any dietary requirements?</h2>
      				<p>Proceeding from the wedding to the castle, we're getting set for a feast. Or what Langley Castle calls a 'wedding breakfast' (even though it's at 2 pm).</p>

      				<p><strong>Is there anything that you can't or don't feel comfortable eating?</strong> The meal isn't going to be anything strange, but if you don't eat meat or you're allergic to eggs, let us know and we'll make sure you can stuff your face anyway.</p>

      				<div class="form-field">
      					<input type="radio" name="hasDietaryRequirements" class="required" id="dietary-false" value="false">
      					<label for="dietary-false">No dietary requirements</label>
                <br>
      					
      					<input type="radio" name="hasDietaryRequirements" class="required dependent" id="dietary-true" value="true">
      					<label for="dietary-true">I have a dietary requirement</label>
      				</div>

      				<div class="form-field dietary-restriction">
      					<label>What don't you eat?</label>
      					<input type="text" autocomplete="off" name="dietaryRequirements">
      				</div>

              <a class="next-step button" data-step="5">Next Step</a>
              <a class="prev-step button">Back</a>
              <a class="to-review button">Review</a>
              <p class="error">Is there anything you don't eat?</p>
      			</div>
          </div>

    			<div class="step step-6">
            <div class="step__inner">
      				<h2>Want to stay the night at the castle?</h2>
      				<p>We'll have a bit of a finger buffet going as the night falls and we intend for the party to run quite late. But all great things have to come to an end at some point.</p>

      				<p>The party officially ends at midnight, but anyone staying the night on the castle grounds is welcome to stay up with us in the drawing room for nightcaps.</p>

              <p>If you'd like to stay the night with us at the Castle, let us know and we'll contact you about arranging accommodation. It's well worth the stay.</p>

      				<div class="form-field">
      					<input type="radio" name="accommodation" id="accommodation-castle" class="required" value="I'd like to stay in the Castle">
      					<label for="accommodation-castle">I'd love to stay the night at the Castle</label>
                <br>
      					
      					<input type="radio" name="accommodation" id="accommodation-false" class="required" value="I'll find my own accommodation">
      					<label for="accommodation-false">I'll find my own accommodation</label>
      				</div>

      				<div class="self-accommodating">
      					<p>If you're planning on finding your own accommodation, may we suggest Hexham? There are a few really lovely bed & breakfasts, and the proximity means that you're avoiding a long drive back into Newcastle. You'll find more info <a href="/info" target="_blank" </p>
      				</div>

              <a class="next-step button" data-step="6">Next Step</a>
              <a class="prev-step button">Back</a>
              <a class="to-review button">Review</a>
              <p class="error">Hold on, let us know whether you'd like to stay at the Castle.</p>
      			</div>
          </div>

    			<div class="step step-7">
            <div class="step__inner">
      				<h2>All done!</h2>
      				<p>Thanks for filling all this out&mdash;it's going to make our lives a lot easier going into, well, our first day as husband and wife. Huh, that's somehow strange <em>and</em> exciting.</p>

      				<p>Here's a review of your choices, just to make sure. Everything look good?</p>

      				<div class="review">
                <p class="review--respondant">
                  <span>Your name</span>
                  <span class="review__detail review__detail--respondant"></span>
                  <span class="review__detail--edit" data-step="2">Edit</span>
                </p>

                <p class="review--havePartner">
                  <span>Bringing a partner?</span>
                  <span class="review__detail review__detail--havePartner"></span>
                  <span class="review__detail--edit" data-step="2">Edit</span>
                </p>

                <p class="review--partnerName">
                  <span>Partner name</span>
                  <span class="review__detail review__detail--partnerName"></span>
                  <span class="review__detail--edit" data-step="2">Edit</span>
                </p>

                <p class="review--attending">
                  <span>Are you attending?</span>
                  <span class="review__detail review__detail--attending"></span>
                  <span class="review__detail--edit" data-step="3">Edit</span>
                </p>

                <p class="review--needsTransportation">
                  <span>Do you need transportation?</span>
                  <span class="review__detail review__detail--needsTransportation" data-step="4"></span>
                  <span class="review__detail--edit" data-step="4">Edit</span>
                </p>

                <p class="review--hasDietaryRequirements">
                  <span>Do you have any dietary requirements?</span>
                  <span class="review__detail review__detail--hasDietaryRequirements"></span>
                  <span class="review__detail--edit" data-step="5">Edit</span>
                </p>

                <p class="review--dietaryRequirements">
                  <span>Your dietary requirements</span>
                  <span class="review__detail review__detail--dietaryRequirements"></span>
                  <span class="review__detail--edit" data-step="5">Edit</span>
                </p>

                <p class="review--accommodation">
                  <span>Do you need accommodation?</span>
                  <span class="review__detail review__detail--accommodation"></span>
                  <span class="review__detail--edit" data-step="6">Edit</span>
                </p>

      				<div class="form-field">
      					<input type="submit" value="Looks good!" class="button">
      				</div>
            </div>
    			</div>
    		</form>
      </div>

      <img src="/images/flowers-bottomleft.png" alt="flowers" class="flower bottom-left" />
    </div>

    <script type="text/javascript" src="main.js"></script>

  </body>
</html>
