body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', Garamond, Georgia, serif;
  font-size: 20px;
  position: relative;
  color: #242;
  line-height: 1.4;
  z-index: -3;
}

.inner {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.body-wrapper.home {
  min-height: 100vh;
  width: 100vw;
}

.body-wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #fff9ff;
  z-index: -2;
}

.body-wrapper.home .inner {
  min-height: calc(100vh - 68px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-wrapper.home .inner .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-wrapper.invitation,
.body-wrapper.thank-you {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.body-wrapper.home .inner h1,
.body-wrapper.home .inner h3 {
  text-align: center;
}

.body-wrapper.thank-you .inner {
  padding: 40px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

h1, h2, h3 {
  font-family: 'Quintessential';
  font-weight: 400;
  color: #a6023a;
  margin-top: 0;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  margin-bottom: 0;
  padding-bottom: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.inner a {
  color: #a6023a;
  border-bottom: 1px solid #a6023a;
}

header {
  padding: 0 60px;
  text-align: right;
}

header nav {
  display: inline-block;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  font-family: 'Cormorant Garamond', sans-serif;
  color: #a6023a;
  font-size: 1.2rem;
  font-weight: 300;
  color: #224;
}

nav ul li:last-child {
  margin-right: 0;
}

.intro {
  margin-bottom: 45px;
}

form {
  position: relative;
}

form.music-form {
  text-align: center;
  margin-bottom: 40px;
}

.have-you-rsvpd {
  max-width: 660px;
}

label {
  display: block;
  margin: 0;
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"] {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 200px;
  font-family: 'Cormorant Garamond';
  box-sizing: border-box;
}

input + label {
  display: inline-block;
  color: #000;
  font-size: 20px;
  padding-left: 30px;
  position: relative;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input + label:before {
  height: 20px;
  width: 20px;
  content: "";
  border: 1px solid #ccc;
  left: 0;
  position: absolute;
  border-radius: 2px;
}

input:checked + label:before {
  background-color: #a6023a;
  border-color: #a6023a;
  background-image: url('../images/check.png');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.partner-name,
.dietary-restriction {
  display: none;
}

.form-field {
  margin-bottom: 15px;
}

.form-field.music {
  display: inline-block;
  margin-right: 20px;
}

.step.step-2,
.step.step-3, .step.step-4,
.step.step-5, .step.step-6,
.step.step-7 {
  background-color: white;
}

.step a.to-review {
  display: none;
}

.step {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  padding: 40px;
  margin-bottom: 100px;
}

.step.step-1 {
  box-shadow: none;
  padding: 0;
}

.step.step-1 .button {
  margin-top: 0;
}

a.button,
button.button,
input.button {
  color: #fff;
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
  background: #a6023a;
  color: white;
  padding: 8px 16px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  border: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
}

.button.light {
  background: transparent;
  color: #a6023a;
  border: 1px solid #a6023a;
  box-shadow: none;
  margin-top: 20px!important;
}

.button.prev-step {
  background: #f1f1f8;
  color: black;
}

.plus-sign {
  width: 12px;
  margin-right: 10px;
  margin-bottom: 1px;
}

.step__inner {
  padding: 40px;
}

.step.active {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;=
}

.step.complete {
  transform: translateY(-20px);
}

.progress-bar {
  height: 2px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar--filled {
  height: 100%;
  width: 0;
  background-color: #a6023a;
  transition: width 0.3s ease;
  position: relative;
}

.error {
  display: none;
  color: crimson;
  border: 1px solid crimson;
  padding: 8px 16px;
  border-radius: 2px;
  margin-bottom: 0;
  margin-top: 0;
  box-sizing: border-box;
}

.error.error-active {
  display: inline-block;
}

.submit-response.error {
  display: inline-block;
}

.result {
  font-weight: 700;
  color: #a6023a;
}

.review p span {
  font-size: 16px;
  color: #666;
}

.review p span.review__detail {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.review p span.review__detail--edit {
  color: #a6023a;
  font-size: 16px;
  border: 1px solid #a6023a;
  padding: 3px 6px;
  margin-left: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.flower {
  width: 400px;
  position: absolute;
  z-index: -1;
}

.invitation .flower {
  z-index: 1;
}

.flower.top-left {
  top: -40px;
  left: -40px;
}

.flower.bottom-left {
  bottom: -40px;
  left: -40px;
}

.flower.bottom-right {
  bottom: -40px;
  right: -40px;
}

.flip-horizontal {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.flip-vertical {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

@media screen and (min-width: 1280px) {
  .body-wrapper.home .inner h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1080px) {
  .body-wrapper.home .inner h1 {
    font-size: 3.5rem;
  }

  .flower {
    width: 500px;
  }

  .flower.bottom-right {
    width: 600px;
  }
}

@media screen and (min-width: 800px) {
  .flower {
    width: 450px;
  }

  .flower.bottom-right {
    width: 525px;
  }
}

@media screen and (max-width: 800px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }

  header {
    padding: 0 20px;
    padding-top: 20px;
  }

  nav {
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  }

  header nav {
    width: 100%;
  }

  .text-wrapper {
    padding: 40px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  }

  .step.step-1 {
    background: white;
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  }
}

@media screen and (max-width: 600px) {
  h1 {
    padding-bottom: 0;
  }

  body {
    font-size: 18px;
  }

  header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .inner {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .step__inner {
    padding: 20px;
  }

  .step {
    padding: 10px;
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 100%;
  }

  form.music-form {
    text-align: left;
  }
  

  form.music-form .form-field {
    display: block;
  }

  .body-wrapper.music .inner {
    background: white;
    padding: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  }
}
